:root {
    --white: #fff;
    --cyan: #0bc1e9;
    --cyan-light: #0bc0e99f;
    --blue: #3749bb;
    --bg-color: #f1f3f3;
    --bg-color-2: #001736;
    --black: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-6: #666;
    --shadow: #0000001a;
    --eee-color: #eee;
    --p-color: #01132d;
    --ddd-color: #ddd;
    --amount: #f44336;
}


/* ------=======common start =======------ */


/* all container start  */

@media only screen and (max-width: 1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1024px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media only screen and (max-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media only screen and (max-width: 425px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 360px;
    }
}

@media only screen and (max-width: 375px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 300px;
    }
}


/* all container end  */


/* ------=======common end =======------ */


/* ------=======home page start =======------ */


/* header start  */

@media only screen and (max-width: 600px) {
    header .navber {
        width: 30%;
        background-color: var(--cyan);
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 768px) {
    header .navber {
        width: 30%;
        display: none;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
        width: 30%;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    header .navber {
        width: 50%;
        display: none;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
        width: 30%;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    /* header top  */
    .header-top-area {
        display: none;
    }
    /* fixed btn  */
    .fixed-btn-area {
        display: none;
    }
    header .navber {
        width: 30%;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        width: 30%;
        background-color: azure;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 1440px) {
    .teach-top-area .navber ul li a {
        color: var(--black-2);
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        transition: all 0.3s linear 0s;
    }
}


/* mb-top start  */

@media (max-width: 2560px) {
    .mb-header-tab-area {
        display: none;
    }
}

@media (max-width: 1279px) {
    .mb-header-tab-area {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 70px;
        background-color: var(--bg-color-2);
        box-shadow: 0 2px 2px var(--shadow);
        align-items: center;
        z-index: 9999;
    }
}

@media (max-width: 1024px) {
    .mb-header-tab-area .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .mb-header-tab-area {
        height: 60px;
    }
    .mb-header-tab-area .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 425px) {
    .mb-header-tab-area {
        height: 50px;
    }
    .mb-header-tab-area .container {
        max-width: 360px;
    }
    .mb-header-tab i {
        font-size: 20px;
    }
    .mb-header-tab .mb-header-logo {
        width: auto;
        height: 35px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .mb-header-tab-area .container {
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .mb-header-tab-area {
        height: 45px;
    }
    .mb-header-tab-area .container {
        max-width: 300px;
    }
    .mb-header-tab i {
        font-size: 20px;
    }
    .mb-header-tab .mb-header-logo {
        width: auto;
        height: 35px;
        margin-top: 10px;
    }
}


/* mb top end  */


/* mb bottom  */

@media (max-width: 2560px) {
    .mb-bottom-tab-area {
        display: none;
    }
}

@media (max-width: 1279px) {
    .mb-bottom-tab-area {
        justify-content: space-between;
        display: initial;
        position: fixed;
        display: flex;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 70px;
        background-color: var(--bg-color-2);
        box-shadow: 0 2px 2px var(--shadow);
        z-index: 999;
    }
    .mb-bottom-tab-area .mb-bottom-tab {
        justify-content: space-between;
        display: flex;
    }
}

@media (max-width: 992px) {
    .mb-bottom-tab-area .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .mb-bottom-tab-area {
        height: 60px;
    }
    .mb-bottom-tab-area .container {
        max-width: 720px;
    }
    .fixed-btn-compare3 .btn-compare3 {
        line-height: 45px;
    }
    .mb-bottom-tab-area {
        height: 60px;
    }
    .mb-bottom-tab a {
        line-height: 40px;
    }
    .fixed-btn-compare3 .btn-compare3 {
        line-height: 40px;
    }
}

@media only screen and (max-width: 425px) {
    .mb-bottom-tab-area {
        height: 50px;
    }
    .mb-bottom-tab-area .container {
        max-width: 360px;
    }
    .mb-bottom-tab a {
        font-size: 18px;
        line-height: 32px;
    }
    .fixed-btn-compare3 .btn-compare3 {
        font-size: 18px;
        line-height: 32px;
    }
    .fixed-btn-compare3 .btn-compare3 i {
        line-height: 32px;
    }
}

@media only screen and (max-width: 375px) {
    .mb-bottom-tab-area .container {
        max-width: 330px;
    }
    .mb-bottom-tab a {
        font-size: 15px;
        line-height: 32px;
    }
    .mb-bottom-tab h5 {
        font-size: 10px;
    }
    .fixed-btn-compare3 .btn-compare3 {
        font-size: 15px;
        line-height: 32px;
    }
    .fixed-btn-compare3 .btn-compare3 h5 {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .mb-bottom-tab-area .container {
        max-width: 300px;
    }
    .fixed-btn-compare3 .btn-compare3 {
        line-height: 22px;
    }
}


/* header end  */


/* banner start  */

@media only screen and (max-width: 1024px) {
    .banner-area {
        margin-top: 80px;
    }
    .banner-right-form {
        width: 100%;
        /* height: auto; */
        background-color: var(--banner-bg);
        box-shadow: 5px 5px 0 var(--shadow);
        margin-bottom: 12px;
        padding: 15px 10px;
    }
    .banner-right-form .banner-right-content p {
        color: var(--p-color);
        font-size: 12px;
        text-align: center;
    }
    .banner-right-search input {
        width: 100%;
        outline: none;
        border-radius: 4px;
        border: 1.5px solid transparent;
        box-shadow: 2px 2px 0 var(--shadow);
        padding: 6px 4px;
        margin-bottom: 10px;
    }
    .banner-right-search .search-icon i {
        position: absolute;
        top: 30%;
        right: 3%;
        font-size: 14px;
        color: var(--black-6);
    }
    .banner-right-img {
        width: 100%;
        box-shadow: 5px 5px 0 var(--shadow);
        height: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-right-form {
        width: 100%;
        margin: 20px 0;
        padding: 15px 10px;
    }
    .banner-right-img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 526px) {
    .banner-area.container {
        max-width: 480px;
    }
}

@media only screen and (max-width: 425px) {
    .banner-area .container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 375px) {
    .banner-area .container {
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .banner-area .container {
        max-width: 300px;
    }
}


/* banner end  */


/* marquee start  */

@media only screen and (max-width: 1440px) {
    .marquee-area .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1024px) {
    .marquee-area .container {
        max-width: 920px;
    }
}

@media only screen and (max-width: 1000px) {
    .marquee-area .container {
        max-width: 920px;
    }
}

@media only screen and (max-width: 768px) {
    .marquee-area .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 526px) {
    .marquee-area .container {
        max-width: 580px;
    }
}

@media only screen and (max-width: 425px) {
    .marquee-area .container {
        max-width: 360px;
    }
}

@media only screen and (max-width: 375px) {
    .marquee-area .container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 320px) {
    .marquee-area .container {
        max-width: 300px;
    }
}


/* marquee end */


/* Featured category start  */

@media only screen and (max-width: 1440px) {
    .featured-area .container {
        max-width: 1200px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 136px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1024px) {
    .featured-area .container {
        max-width: 960px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 146px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1000px) {
    .featured-area .container {
        max-width: 920px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 138px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 768px) {
    .featured-area .container {
        max-width: 720px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 130px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 526px) {
    .featured-area .container {
        max-width: 580px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 115px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 425px) {
    .featured-area .container {
        max-width: 360px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 105px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 375px) {
    .featured-area .container {
        max-width: 350px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 102px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 320px) {
    .featured-area .container {
        max-width: 300px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 140px;
        height: auto;
        margin: 7px 0px;
    }
}


/* Featured category end  */


/* Featured Products start  */

@media only screen and (max-width: 1440px) {
    .featured-product-area .container {
        max-width: 1200px;
    }
    .featured-product-area .featured-product {
        justify-content: space-between;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 230px;
        margin: 6px 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .featured-product-area .container {
        max-width: 960px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1000px) {
    .featured-product-area .container {
        max-width: 920px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 218px;
        margin: 6px 6px;
    }
}

@media only screen and (max-width: 768px) {
    .featured-product-area .container {
        max-width: 720px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 526px) {
    .featured-product-area .container {
        max-width: 480px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 425px) {
    .featured-product-area .container {
        max-width: 350px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 325px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 375px) {
    .featured-product-area .container {
        max-width: 330px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 310px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 320px) {
    .featured-product-area .container {
        max-width: 300px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 250px;
        margin: 7px 7px;
    }
}


/* Featured Products end  */


/* learning computer start */

@media only screen and (max-width: 768px) {
    .leanding-computer-area .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 526px) {
    .leanding-computer-area .container {
        max-width: 580px;
    }
}

@media only screen and (max-width: 425px) {
    .leanding-computer-area .container {
        max-width: 360px;
    }
}

@media only screen and (max-width: 375px) {
    .leanding-computer-area .container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 320px) {
    .leanding-computer-area .container {
        max-width: 300px;
    }
}


/* learning computer end */


/* footer start  */

@media only screen and (max-width: 2560px) {
    .footer-area .footer-md {
        display: none;
    }
    .footer-area .footer-btn {
        width: 225px;
    }
    .footer-area .footer-btn .footer-contact-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 1440px) {
    .footer-area .footer-md {
        display: none;
    }
    .footer-area .footer-btn {
        width: 225px;
    }
    .footer-area .footer-btn .footer-contact-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .footer-area .footer-md {
        display: none;
    }
    .footer-area .footer-btn {
        width: 225px;
    }
    .footer-area .footer-btn .footer-contact-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .footer-area .footer-md {
        display: inherit;
    }
    .footer-area .footer-wedget .footer-link {
        display: none;
    }
    .footer-area .footer-header h3 {
        text-align: center;
        color: var(--white);
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .footer-area .footer-btn {
        width: 100%;
        margin: 30px 0;
        justify-content: center;
    }
    .footer-area .footer-btn .footer-contact-btn {
        width: auto;
        height: 85px;
        text-align: center;
        margin: 15px 40px;
    }
    .footer-area .footer-contact-btn .contact-icon i {
        width: 55px;
        line-height: 70px;
        text-align: start;
        margin-right: 45px;
    }
    .footer-area .footer .footer-md ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    .footer-area .footer .footer-md ul li a {
        color: var(--black-6);
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        padding: 0 15px;
    }
    .footer-area .footer .footer-md ul li {
        position: relative;
    }
    .footer-area .footer .footer-md ul li::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 3px;
        background: #666;
        position: absolute;
        left: 2px;
        top: 23px;
    }
    .footer-area .footer-social {
        text-align: center;
    }
    .footer-area .footer-social span {
        font-size: 16px;
    }
    .footer-area .footer-social p {
        color: var(--black-6);
        font-size: 15px;
        padding: 8px 0px;
        text-align: center;
    }
    .footer-area .footer-social .mail {
        font-size: 15px;
    }
    .footer-area .footer-social-icon {
        text-align: center;
    }
}


/* footer end */


/* ------=======home page end =======------ */


/* ------=======offer section start  =======------ */

@media only screen and (max-width: 1440px) {
    .offer-area {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 1024px) {
    .offer-area {
        margin-top: 70px;
    }
}


/* ------=======offer section end  =======------ */


/* ------=======deals page start =======------ */


/* mega nav start  */

@media only screen and (max-width: 1024px) {
    .mega-sale-area .mega-sale-content .mega-sale-tabs a {
        display: inline-block;
        font-size: 8px;
        padding: 0 14px;
    }
}

@media only screen and (max-width: 768px) {
    .mega-sale-area .mega-sale-content .mega-sale-tabs a {
        display: inline-block;
        font-size: 8px;
        border-radius: 15px;
        padding: 0 5px;
    }
}


/* mega nav end  */


/* mega laptop start  */

@media only screen and (max-width: 1440px) {
    .mega-card {
        width: 228px;
        margin: 6px 6px;
    }
}

@media only screen and (max-width: 1024px) {
    .mega-card {
        width: 228px;
        margin: 6px 6px;
    }
}

@media only screen and (max-width: 425px) {
    .mega-card {
        width: 325px;
        margin: 7px 7px;
    }
}


/* mega laptop end  */


/* ------=======deals page end =======------ */


/* ------=======account page start =======------ */

@media only screen and (min-width: 320px) {
    .account-area {
        margin-top: 70px;
    }
    .form .form-content {
        width: 280px;
        padding: 30px 10px;
    }
    .form .form-content input {
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    .form .form-content label {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .form .form-content a {
        font-size: 12px;
    }
    .form p.donot-text {
        text-align: center;
        margin: 15px 0 35px;
        border-bottom: 1px solid transparent;
        height: 11px;
    }
    .form p.donot-text span {
        font-size: 14px;
    }
    .form .form-content .btn {
        width: 100%;
        height: 38px;
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 425px) {
    .account-area {
        margin-top: 70px;
    }
    .form .form-content {
        width: 290px;
        padding: 30px 10px;
    }
    .form .form-content input {
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    .form .form-content label {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .form .form-content a {
        font-size: 12px;
    }
    .form p.donot-text {
        text-align: center;
        margin: 15px 0 35px;
        border-bottom: 1px solid transparent;
        height: 11px;
    }
    .form p.donot-text span {
        font-size: 14px;
    }
    .form .form-content .btn {
        width: 100%;
        height: 38px;
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .account-area {
        margin-top: 70px;
    }
    /* form css start*/
    .form {
        display: flex;
        justify-content: center;
    }
    .form .form-content {
        width: 400px;
        padding: 30px 10px;
    }
    .form .form-content h1 {
        color: var(--black-1);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .form .form-content label {
        color: var(--black-3);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .form .form-content input {
        width: 100%;
        border: 1px solid var(--border);
        outline: none;
        padding: 8px 10px;
        margin-bottom: 20px;
    }
    .form .form-content input::placeholder {
        color: var(--black-6);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .form .form-content .forgot {
        position: relative;
    }
    .form .form-content a {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--blue);
        font-size: 14px;
        font-weight: 400;
    }
    .form .form-content a:hover {
        color: var(--cyan);
    }
    .form .form-content .btn {
        width: 100%;
        height: 42px;
        display: inline-block;
        border-radius: 4px;
        line-height: 38px;
        font-size: 16px;
        font-weight: 600;
        padding: 0 20px;
        outline: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .form .form-content .create-btn {
        color: var(--blue);
        background-color: var(--white);
        border: 2px solid var(--blue);
    }
    .form .form-content .form-btn {
        color: var(--white);
        background-color: var(--blue);
        border: 2px solid var(--blue);
    }
    .form .form-content .btn:hover {
        color: var(--white);
        background-color: var(--cyan);
        border: 2px solid var(--cyan);
    }
    .form p.donot-text {
        text-align: center;
        margin: 25px 0 35px;
        border-bottom: 1px solid var(--eee-color);
        height: 11px;
    }
}

@media only screen and (min-width: 1024px) {
    .account-area {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1440px) {
    .account-area {
        margin-top: 125px;
    }
}


/* footer start  */

@media only screen and (min-width: 768px) {
    .footer-area {
        margin-top: 0px;
    }
}


/* footer end  */


/* ------=======account page end =======------ */


/* ------=======pc-builder page start =======------ */

@media only screen and (max-width: 1440px) {
    .pc-builder-area {
        margin: 50px 0;
    }
    .build-content {
        padding: 0 50px;
        padding-bottom: 20px;
    }
    .build-content .cpu {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .pc-builder-area {
        margin: 20px 0;
    }
    .build-content {
        padding: 0 50px;
        padding-bottom: 20px;
    }
    .pc-builder-area .pc-builder-design .builder-header {
        padding: 10px 8px;
        justify-content: space-between;
    }
    .pc-builder-area .pc-builder-design .pc-builder-total {
        font-size: 15px;
    }
    .pc-builder-area .pc-builder-design .builder-header .builder-center-text h2 {
        font-size: 22px;
    }
    .pc-builder-area .pc-builder-design .builder-header .pc-builder-content span {
        font-size: 8px;
    }
}

@media only screen and (max-width: 320px) {
    .build-content {
        padding: 0 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .pc-builder-area .pc-builder-design .builder-header .pc-builder-content {
        display: flex;
        justify-content: center;
    }
    .pc-builder-area .pc-builder-design .builder-header {
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        display: block;
    }
    .pc-builder-area .pc-builder-design .pc-builder-total {
        font-size: 15px;
        margin: 10px 0;
    }
    .pc-builder-area .pc-builder-design .builder-header .builder-center-text h2 {
        font-size: 17px;
        line-height: 20px;
    }
    .pc-builder-area .pc-builder-design .builder-header .builder-center-text {
        margin-bottom: 10px;
    }
    .pc-builder-area .pc-builder-design .builder-header .pc-builder-content a {
        width: 45px;
        height: 45px;
        line-height: 10px;
    }
    .build-content .cpu span {
        font-weight: 600;
        font-size: 13px;
    }
    .build-content .select a {
        padding: 6px 9px;
        font-size: 12px;
    }
    .build-content {
        padding: 0 30px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .build-content {
        padding: 0 20px;
        padding-bottom: 20px;
    }
}


/* ------=======pc-builder page end =======------ */


/* ------=======checkout page start =======------ */

@media only screen and (max-width: 768px) {
    .checkout-area .checkout span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 425px) {
    .checkout-area .container {
        max-width: 360px;
    }
    .checkout-area .checkout {
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    .checkout-area .container {
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .checkout-area .container {
        max-width: 300px;
    }
}


/* ------=======checkout page end =======------ */


/* ------=======desktop page start =======------ */


/* desktop nav start  */

@media only screen and (max-width: 1024px) {
    .mega-sale-area .mega-sale-content .mega-sale-tabs a {
        display: inline-block;
        font-size: 8px;
        padding: 0 14px;
    }
}

@media only screen and (max-width: 768px) {
    .desktop-area .desktop-menu a {
        display: inline-block;
        font-size: 7px;
        font-weight: 600;
        margin: 20px 0px;
    }
}


/* desktop nav end  */

@media only screen and (max-width: 1440px) {
    .desktop-card {
        width: 209px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1024px) {
    .desktop-card {
        width: 212px;
        margin: 6px 6px;
    }
}

@media only screen and (max-width: 768px) {
    .desktop-card {
        width: 229px;
        margin: 6px 6px;
    }
    .desktop-card-area .desktop-card-top .d-card-content {
        margin: 0 14px;
        padding: 0 10px;
    }
    .desktop-product {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 425px) {
    .desktop-card {
        width: 355px;
        margin: 6px 6px;
    }
}


/* ------=======desktop page end =======------ */


/* ================================== */

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 526px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}