:root {
    --white: #fff;
    --cyan: #0bc1e9;
    --cyan-light: #0bc0e99f;
    --blue: #3749bb;
    --bg-color: #f1f3f3;
    --bg-color-2: #001736;
    --black: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-6: #666;
    --shadow: #0000001a;
    --eee-color: #eee;
    --p-color: #01132d;
    --ddd-color: #ddd;
    --amount: #f44336;
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    header .navber {
        width: 30%;
        background-color: var(--cyan);
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    header .navber {
        width: 30%;
        display: none;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
        width: 30%;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    header .navber {
        width: 50%;
        display: none;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        background-color: azure;
        display: block;
        width: 30%;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    /* header top  */
    .header-top-area {
        display: none;
    }
    /* fixed btn  */
    .fixed-btn-area {
        display: none;
    }
    header .navber {
        width: 30%;
    }
    header label {
        display: initial;
    }
    #menu-bar {
        display: none;
    }
    #menu-bar:checked~.navber {
        display: initial;
    }
    .teach-top-area .navber .menu:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--cyan);
    }
    .teach-top-area .navber ul {
        width: 30%;
        background-color: azure;
    }
    .teach-top-area .navber ul li ul {
        position: absolute;
        width: 150px;
        left: 30%;
    }
    .teach-top-area .navber ul li .desktop {
        top: 80px;
        left: 30%;
    }
}


/* mb-top start  */

@media (max-width: 2560px) {
    .mb-header-tab {
        display: none;
    }
}

@media (max-width: 1279px) {
    .mb-header-tab {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: var(--bg-color-2);
        padding: 0 15px;
        box-shadow: 0 2px 2px var(--shadow);
        align-items: center;
        z-index: 9999;
    }
}


/* mb top end  */


/* mb bottom  */

@media (max-width: 2560px) {
    .mb-bottom-tab {
        display: none;
    }
}

@media (max-width: 1279px) {
    .mb-bottom-tab {
        justify-content: space-between;
        display: initial;
        position: fixed;
        display: flex;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: var(--bg-color-2);
        box-shadow: 0 2px 2px var(--shadow);
        padding: 0 22px;
        z-index: 999;
        /* flex: 1 1 auto; */
    }
}


/* header end  */


/* banner start  */

@media only screen and (max-width: 1024px) {
    .banner-area {
        margin-top: 80px;
    }
    .banner-right-form {
        width: 100%;
        /* height: auto; */
        background-color: var(--banner-bg);
        box-shadow: 5px 5px 0 var(--shadow);
        margin-bottom: 12px;
        padding: 15px 10px;
    }
    .banner-right-form .banner-right-content p {
        color: var(--p-color);
        font-size: 12px;
        text-align: center;
    }
    .banner-right-search input {
        width: 100%;
        outline: none;
        border-radius: 4px;
        border: 1.5px solid transparent;
        box-shadow: 2px 2px 0 var(--shadow);
        padding: 6px 4px;
        margin-bottom: 10px;
    }
    .banner-right-search .search-icon i {
        position: absolute;
        top: 30%;
        right: 3%;
        font-size: 14px;
        color: var(--black-6);
    }
    .banner-right-img {
        width: 100%;
        box-shadow: 5px 5px 0 var(--shadow);
        height: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-right-form {
        width: 100%;
        margin: 20px 0;
        padding: 15px 10px;
    }
    .banner-right-img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 526px) {
    .banner-area.container {
        max-width: 480px;
    }
}

@media only screen and (max-width: 425px) {
    .banner-area .container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 375px) {
    .banner-area .container {
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .banner-area .container {
        max-width: 300px;
    }
}


/* banner end  */


/* Featured category start  */

@media only screen and (max-width: 1440px) {
    .featured-area .container {
        max-width: 1260px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 143px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1024px) {
    .featured-area .container {
        max-width: 920px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 138px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1000px) {
    .featured-area .container {
        max-width: 920px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 138px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 768px) {
    .featured-area .container {
        max-width: 720px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 130px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 526px) {
    .featured-area .container {
        max-width: 580px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 115px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 425px) {
    .featured-area .container {
        max-width: 360px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 105px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 375px) {
    .featured-area .container {
        max-width: 350px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 102px;
        height: auto;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 320px) {
    .featured-area .container {
        max-width: 300px;
    }
    .featured-area .featured-cards-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .featured-area .featured-cards-design .featured-cards {
        width: 140px;
        height: auto;
        margin: 7px 0px;
    }
}


/* Featured category end  */


/* Featured Products start  */

@media only screen and (max-width: 1440px) {
    .featured-product-area .container {
        max-width: 1260px;
    }
    .featured-product-area .container .featured-product {
        justify-content: space-between;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 240px;
        margin: 8px 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .featured-product-area .container {
        max-width: 960px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 1000px) {
    .featured-product-area .container {
        max-width: 920px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 218px;
        margin: 6px 6px;
    }
}

@media only screen and (max-width: 768px) {
    .featured-product-area .container {
        max-width: 720px;
    }
    .featured-product-area .container .featured-product {
        justify-content: start;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 526px) {
    .featured-product-area .container {
        max-width: 480px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 225px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 425px) {
    .featured-product-area .container {
        max-width: 350px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 265px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 375px) {
    .featured-product-area .container {
        max-width: 330px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 265px;
        margin: 7px 7px;
    }
}

@media only screen and (max-width: 320px) {
    .featured-product-area .container {
        max-width: 300px;
    }
    .featured-product-area .container .featured-product {
        justify-content: center;
    }
    .featured-product-area .featured-product .featured-product-cards {
        width: 250px;
        margin: 7px 7px;
    }
}


/* Featured Products end  */

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}